@import "variables.scss";

* {
    font-family: VarelaRound;
}

/* Large screens */
.sign-in-lg {

    .primary-area-section{

        .primary-area{
            width: 25%;
            margin: $p-1 0 0 0;

            .heading-section {
                width: 100%;
                font-size: $text-40;
                color: $primary-grey;
            }

            .primary-area-hr {
                border-top: 4px solid $primary-red;
                width: 100%;
            }

            .text-input-label {
                font-size: $text-25;
            }

            .emailInput, .passwordInput {
                height: $text-45;
                width: 100%;
                margin: 0 0 .5rem 0;
                padding: 0 .5em 0 .5em;
                border: 1px solid $text-input-grey;
            }

            .emailInput:focus, .passwordInput:focus {
                outline: none;
                border: 1px solid $text-input-grey;
                box-shadow: 0 0 .3em $primary-red;          //box-shadow: $left-offset $right-offset $shadow-$size color;
            }
        }

        .submit-btn-section {
            .submit-btn {
                margin: $p-2 0 0 0 ;
                padding: 0 $p-2 0 $p-2;
                height: 4vh;
                border-radius: $br-rounded;
                border: 2px solid $primary-red;
                background: $primary-red;
                outline: none;
                //Button Text
                font-family: VarelaRound;
                font-size: $text-15;
                color: $primary-light;
                font-weight: 600;
            }
            .submit-btn:hover, .submit-btn:active, .submit-btn:focus {
                outline: none
            }
        }

        .sign-up-info {
            padding: $p-1 0 0 0;
            color: $primary-grey;

            .sign-up-navlink {
                color: $primary-red;
            }

            .sign-up-navlink:hover {
                color: $primary-red;
            }
        }

    }
}
